{% extends 'accounts/base_account.html' %}

{% block content %}
<h1>ログイン</h1>
<form method="post" action="">
    {% csrf_token %}
    <table class="create_table">
        {{ form.as_table }}
    </table>
    <div class="button_center">
        <input type="submit" id="save" value="ログイン">
    </div>
</form>
<div class="accounts_new_create">
    <p><a href="{% url 'accounts:accounts_create' %}">新規作成</a></p>
    <p>運営サイトへのログインは<a href="{% url 'accounts:management_login' %}">こちら</a>から</p>
</div>
{% endblock %}