{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'schedule/style.css' %}">
    {% block css %}{% endblock %}
    <title>しおりん</title>
</head>
<body>
<nav id="menu">
    <ul>
        <li><a href="{% url 'article:article_list' %}">トップページ</a></li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'schedule:schedule_list' %}">マイページ</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">マイページ</a>
            {% endif %}
        </li>
        <li>
            {% if request.user.is_authenticated %}
                <a href="{% url 'accounts:logout' %}">ログアウト</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">ログイン</a>
            {% endif %}
        </li>
        <li>
            Welcome！
            {% if request.user.is_authenticated %}
                {{ user.username }} さん
            {% endif %}
        </li>
    </ul>
</nav>
<div class="center">
    {% block content %}{% endblock %}
</div>
</body>
</html>