/* 共通 */
* {
    margin: 0;
    padding: 0;
}
#menu {
    color: #fff;
    background-color: #1e90ff;
    padding: 10px;
    margin-bottom: 10px;
}
#menu a{
    color: inherit;
    text-decoration: none;
}
#menu a:hover{
    color: blue;
    text-decoration: underline;
}
nav ul li{
    display: inline-block;
    margin: 0 20px;
}
.center{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
img {
    object-fit: cover;
}

/* フォーム */
#form form{
    margin: auto;
    width: 50%;
    border-radius: 10px;
    border: solid 3px #1e90ff;/*線*/
}
#form input, textarea, select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
}
#form input:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
#form textarea:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
#form select:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
.create_table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
.create_table th{
    padding: 10px;
    color: #1e90ff;
}
.create_table td{
    padding: 10px;
    width: 50%;
}
.button_center{
    text-align: center;
}

/* article共通 */
.link_color{
  text-decoration: none;
  color: #1e90ff;
}
.link_color:hover{
    color: #0e2bff;
}

.form{
    float: left;
}
.none{
    clear: both;
}


/* article_list */
.input-field {
    width: 300px;
    height: 30px;
}
.box{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}
.item{
    align-self: stretch;        /* 縦の位置指定 */
	margin-left: 10px;
	margin-right: 10px;
}
.top_img {
    width: 220px;                /* 画像サイズ指定 */
    height: 150px;
}


/* article_detail */
.cover_img{
    width: 100%;
    height: 100px;
}
.info{
    color: #a1a1a1
}


/* management_list */
.btn {
  border-radius: 100px;
  background-color: #1e90ff;
  padding: 0 5px;
  text-decoration: none;
  color: white;
}
.all_article{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #1e90ff;/*文字色*/
    background: #FFF;
    border: solid 3px #1e90ff;/*線*/
    border-radius: 10px;/*角の丸み*/
}
.ellipsis {
    width: 220px; /* 省略せずに表示するサイズを指定 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}