{% extends 'chat/base.html' %}

{% block content %}
<h1>[{{ schedule.title }}]チャット画面</h1>
<form method="post" enctype="multipart/form-data" class="flex_box">
    {% csrf_token %}
    {{ form.as_div }}
    <input type="submit" value="送信">
</form>
<hr>
<div class="chat_area">
<!--チャット表示-->
{% for chat in chat_list %}
    [{{ chat.user }}]
    {{ chat.created_at | date:'Y/m/d G:i:s' }}
<div class="talk_content">
    <p>{{ chat.comment | linebreaksbr | urlize }}</p>
    {% if chat.image %}
        <img src="{{ chat.image.url }}">
    {% endif %}
</div>
{% endfor %}
<!--/チャット表示-->
</div>
{% endblock %}
