{% extends 'article/base_article.html' %}
{% block content %}

<h1>記事一覧</h1>

<form method="GET">
    <div class="form">
    {% csrf_token %}
    {{ form.as_p }}
    </div>
    <button class="form" type="submit">送信</button>
</form>

<br class="none">
<div class="box">
        {% for article in article_list %}
            <div class="item">
                {% if article.state_flag %}
                    <a href="{% url 'article:article_detail' article.id %}">
                        <img class="top_img" src="{{ article.image.url }}" />
                    </a>
                    <div>
                        {{ article.title }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
</div>

<div align="center">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span>{{ link_page }}</span>
        {% else %}
            <a href="?page={{ link_page }}">{{ link_page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次のページへ</a>
    {% endif %}
</div>


{% if category_list %}

    <hr>
    <h2>{{ request.user.username }}さんへのおすすめ記事</h2>

    {% for category in category_list %}
        <p>{{ category }}</p>

        <div class="box">
            {% for article in category.article_set.all %}
                {% if article.state_flag %}
                <div class="item">
                    <a href="{% url 'article:article_detail' article.id %}">
                        <img class="top_img" src="{{ article.image.url }}" />
                    </a>
                    <div>
                        {{ article.title }}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    {% endfor %}

    <div align="center">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
        {% endif %}

        {% for link_page in page_obj.paginator.page_range %}
            {% if link_page == page_obj.number %}
                <span>{{ link_page }}</span>
            {% else %}
                <a href="?page={{ link_page }}">{{ link_page }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">次のページへ</a>
        {% endif %}
    </div>
{% endif %}


{% endblock %}