{% extends 'article/base_article.html' %}

{% block content %}

<h1>記事一覧</h1>

<form method="GET">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>

{% for article in article_list %}
    {% if article.state_flag %}
        <a href="{% url 'article:article_detail' article.id %}">
            <img width="300" src="{{ article.image.url }}" />
        </a>
        <div>
            {{ article.title }}
        </div>
    {% endif %}

{% endfor %}

<div >
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span>{{ link_page }}</span>
        {% else %}
            <a href="?page={{ link_page }}">{{ link_page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次のページへ</a>
    {% endif %}
</div>

{% endblock %}