{% extends 'article/base_article.html' %}

{% block content %}
<p class="cover"><a href="{% url 'article:article_detail' article.id %}">
    <img width="1000" src="{{ article.image.url }}" />
</a></p>

<div>

    <h1>{{ article.title }}</h1>
    <div class="info">
        <p>掲載日：{{ article.date_begin }}</p>
        <p>
            {% for category in article.categories.all %}
            {{ category.name }}
            {% endfor %}
        </p>
    </div>

</div>

<hr>

<div>
    <p>{{ article.text | linebreaks | urlize }}</p>
</div>

<hr>

<p><a href="{% url 'article:article_list' %}">戻る</a></p>

{% endblock %}