{% extends 'article/base_article.html' %}

{% block content %}

<h1>運営記事一覧</h1>

<div class="all_article">
    作成した記事一覧
    <a class="btn" href="{% url 'article:article_create' %}">＋</a>
</div>

<div class="box">
    {% for article in article_list %}
    <div class="item">
            <a href="{% url 'article:article_detail' article.id %}">
                <img height="140px" src="{{ article.image.url }}" />
            </a>
            <div>
                {{ article.title }}
                /<a class="link_color" href="{% url 'article:article_update' article.id %}">更新</a>
                /<a class="link_color" href="{% url 'article:article_delete' article.id %}">削除</a>
            </div>
    </div>
    {% endfor %}
</div>

<div align="center">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span>{{ link_page }}</span>
        {% else %}
            <a href="?page={{ link_page }}">{{ link_page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">次のページへ</a>
    {% endif %}
</div>

{% endblock %}